<div id="cont">
    <h1>IDENTIFIEZ-VOUS</h1>
 <hr/>
    <form class="form-signin" #signin="ngForm">

        <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          
        </div>

        <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          
        </div>

        
        <button type="submit" class="btn btn-outline-secondary" (click)="app()"> Sign in</button>
        
      </form>
      </div>