h1{
    font-family: 'Courier New', Courier, monospace;
    text-decoration:underline;
}
.ng-valid:not(form){
    border-left: 2px solid green;
}

.ng-invalid:not(form){
    border-left: 2px solid red;
}
#for{margin-left: 300px;
    max-width: 300px;
    border: 1px solid gray;
    padding: 40px;
    background-color: whitesmoke;
    border-radius: 50px;}
#cont{margin-top:200px}
#my{height: 300px;width: 300px;border-radius: 100%;
    border:solid 3px plum;position: absolute;top:300px;left:700px
  }