 <div id="cont">
<h1>RECHERCHE</h1>
<hr/>
<div  [hidden] ="submitted" id="for">
    
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                    <label for="type">
                        categorie
                        </label><br>
                    <select id="type"class="form-control" formControlName="type">
                        <option [ngValue]="1">makeup</option>
                        <option [ngValue]="2">dress</option>
                    </select>
                    {{type.value}}
                </div>
          <hr/>
        
        <div class="form-group">
                <label for="libelle">
                    nom du produit
                </label>
                <br>
                <input type="text" id="libelle"class="form-control" formControlName="nom" placeholder="nom ...">
           {{nom.value}} </div>

         <hr/>
         
         <div class="form-group">
                <label for="prix">
                    prix du produit
                </label><br>
                <input type="number" id="prix" class="form-control" formControlName="prix" placeholder="prix ..." >
            </div>
               
            <hr/>
            <div class="form-group">
                    <label for="solde">
                        le produit est il solde
                    </label><br>
                    <select id="solde" class="form-control" formControlName="promo" >
                        <option [ngValue]="true">solde de 30%</option>
                        <option [ngValue]="false">non solde</option>
                    </select>
                </div>
                
                    
                
        <button id="b1" type="submit" (click)="recherche()" class="btn btn-outline-light text-light btn-lg">
                <span class="glyphicon glyphicon-search"></span>
                </button>
    </form>
      
</div>
<img src="../assets/ajout.PNG" id="my"/>
    <div [hidden] ="!submitted">
        <ul class="list-group list-group-horizontal">
           
            <li *ngFor="let a of maq" [ngClass]="['list-group-item', 'zoom']" >
                 <div id="s"[hidden]="!a.promo">30%</div>
                <div>
                    <img [src]="a.src"/>
                    
                    <h3>{{a.nom}}</h3>
                    <p>
                        
                       reference: {{a.ref}}
                    </p>
                    <hr/>
                    <div [hidden]="a.promo">
                          <h3 style="color:purple;">{{a.prix |cush}}</h3>
                          </div>
                    <div [hidden]="!a.promo">
                    <h3 style="color:purple;">{{a.prix |promo |cush}}</h3>
                    <h4 ><del> {{a.prix |cush}}</del> </h4>
                    </div>
                    
                    <div class="only-show-on-hover">
                       <hr/>
                          <button class="btn btn-outline-light text-secondary btn-lg" title="voir plus">
                                <a [routerLink]="['/makeup',a.ref]">
                                   <span class="glyphicon glyphicon-option-horizontal"></span>
                                </a>
                       </button>
                    </div>
                    </div>
            </li>
        
        </ul>
        <ul class="list-group list-group-horizontal">
           
            <li *ngFor="let a of dre" [ngClass]="['list-group-item', 'zoom']" >
                 <div id="s" [hidden]="!a.promo">30%</div>
                <div>
                    <img [src]="a.src"/>
                    
                    <h3>{{a.nom |uppercase}}</h3>
                    <p>
                        
                       reference: {{a.ref}}
                    </p>
                    <hr/>
                    <div [hidden]="a.promo">
                          <h3 style="color:purple;">{{a.prix |cush}}</h3>
                          </div>
                    <div [hidden]="!a.promo">
                    <h3 style="color:purple;">{{a.prix |promo |cush}}</h3>
                    <h4 ><del> {{a.prix |cush}}</del> </h4>
                    </div>
                    
                    <div class="only-show-on-hover">
                       <hr/>
                          <button class="btn btn-outline-light text-secondary btn-lg" title="voir plus">
                           <a [routerLink]="['/dress',a.ref]">
                             <span class="glyphicon glyphicon-option-horizontal"></span>
                          </a>
                       </button>
                    </div>
                    </div>
            </li>
        
        </ul>
        
        <button (click)="submitted =false; f.reset()" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
    </div> 
      </div> 