<div id="cont">
 <h1>ACCEUIL</h1>
 <hr/>


 <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../assets/back1.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"style="color:purple">NOUVEAUX PRODUITS</h3>
        <p style="color:purple">ajouter vos produits au stock facilement </p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../assets/back2.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive" style="color:purple">UPDATES</h3>
        <p style="color:purple">modifier les parametres des produits</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../assets/back3.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive" style="color:purple">SUPRIMER DU STOCK</h3>
        <p style="color:purple">suprimer des produits</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>